<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar container-fluid w3-white w3-card" id="myNavbar">
    <a href="#home" class=" w3-hide-small" ><img src="../assets/LOGO.png" style="padding:15px; max-width: 22% ;max-height: 20%;" alt=""></a>
    <a href="#home" class=" w3-xxlarge w3-hide-large w3-hide-medium" ><img src="../assets/LOGO.png" style="padding:2px; max-width: 35% ;max-height: 35%;" alt=""></a>
    
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">About Us</a>
      <a href="#team" class="w3-bar-item w3-button"><i class="fa fa-user"></i> Microdosis</a>
      <a href="#work" class="w3-bar-item w3-button"><i class="fa fa-th"></i> Tratamiento</a>
      <a href="#pricing" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> Blog</a>
      <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> Mi Perfil</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->
    <a *ngIf="mostrar == true" href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"  (click)="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
    </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<div *ngIf="mostrar == false">

<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large"  id="mySidebar">
  <a (click)="w3_close();" class="w3-bar-item w3-button suptitulo w3-padding-16">Close ×</a>
  <a href="#about" (click)="w3_close()" class="w3-bar-item w3-button">About Us</a>
  <a href="#team" (click)="w3_close()" class="w3-bar-item w3-button">Microdosis</a>
  <a href="#work" (click)="w3_close()" class="w3-bar-item w3-button">Tratamiento</a>
  <a href="#pricing" (click)="w3_close()" class="w3-bar-item w3-button">Blog</a>
  <a href="#contact" (click)="w3_close()" class="w3-bar-item w3-button">Mi Perfil</a>
</nav>
</div>

<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="pocicionbi w3-text-white" style="padding:4%">
    <div class=" w3-hide-small" style="width: 65%; font-size: 56px!important; size: ita;">Una revolución de la salud</div>
    <div class="w3-xxlarge w3-hide-large w3-hide-medium" style="width: 70%; ">Una revolución de la salud</div>
    <div  class="card suptitulo cartasubtitulo" >Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper sus.</div >
    <p style="color: black;"><a href="#about" class="w3-button  suptitulo w3-margin-top" style="background-color: black;background: #D6EFA4;">Inicia tu protocolo</a></p>
  </div> 
  
</header>

<!-- About Section -->
<div class="w3-container" style="padding: 50px; background: #EEAA7F;" id="about">
  <h3 class="text-center"><img src="../assets/Vectorvesti.png" alt=""></h3>
  <div style="padding-left: 13%; padding-right:13%">
    <h1 class="text-center" style="font-size: 45px!important;"><strong> ¿PARA QUIEN ES EL TRATAMIENTO DE MICLODOSIS DE HONGOS?</strong></h1>
  </div>
  <div style="padding-left: 14%; padding-right:14%; padding-top: 2%;" >
    <h3 class="text-center" style="font-size: 25px!important;"><strong> LA MICLODOSIS ES PARA TODOS</strong></h3>
  </div>
  <div style="padding-left: 13%; padding-right:13%; padding-top: 1%;" >
    <h3 class="text-center" style="font-size: 25px!important;"><strong> AL SER UN REGENERACIÓN NEURONAL Y REGULACIÓN DE NEUROTRASMISORES, BENEFICIA A CUALQUIER PERSONA PUES OPTIMIZA EL FUNCIONAMIENTO DE NUESTRO CEREBRO Y DE NUESTRA PERCEPCÏON.</strong></h3>
  </div>

</div>

<div class="container">
  <div class="row pt-5">
      <div class="col-md-6">
          <h1 width="20rem" style="font-size: 55px!important;">
           <strong>Cuales son los beneficios?</strong>  
          </h1>
      </div>
      <div class="col-md-4 ms-auto">
          <p>
            Todos nuestros tratamientos son especialmente seleccionados para tratar diferentes áreas problema.
          </p>
          <p>  Estas son algunas de las áreas que se pueden tratar:
          </p>
      </div>
  </div>
  <hr class="border border-dark border-2" />


  <div id="carouselExampleControls" class="carousel slide w3-hide-large w3-hide-medium" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="w3-row-padding w3-grayscale d-block w-100" style="margin-top:64px">
          <div class="w3-col l3 m6 w3-margin-bottom" >
            <div class="w3-card">
              <div class="w3-container">
                <div class="col p-3">
                  <div class="border-0 card h-100">
                      <img src="../assets/Framemanejodeestres.png" class="rounded  mx-auto d-block" alt="...">
                      <div class="card-body">
                      <h5 class="card-title text-center">MANEJO DEL ESTRÉS</h5>
                      </div>
                  </div>
              </div>
             </div>
            </div>
          </div>
         
        </div>
      </div>
      <div class="carousel-item">
        <div class="w3-row-padding w3-grayscale d-block w-100" style="margin-top:64px">
          <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
              <div class="w3-container">
                <div class="col p-3">
                  <div class="border-0 card h-100">
                      <img src="../assets/Frameantidepre.png"
                      class="rounded  mx-auto d-block" alt="...">
                      <div class="card-body">
                          <h5 class="card-title text-center">
                              ANTIDEPRESIVO Y ANSIOLÍTICO
                          </h5>
                      </div>
                  </div>
              </div>
            </div>
            </div>
          </div>
         
        </div> </div>
      <div class="carousel-item">
        <div class="w3-row-padding w3-grayscale d-block w-100" style="margin-top:64px">
          <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
              <div class="w3-container">
                <div class="col p-3">
                  <div class="border-0 card h-100">
                      <img src="../assets/Framecretividad.png" class="rounded  mx-auto d-block" alt="...">
                      <div class="card-body">
                          <h5 class="card-title text-center">
                              AUMENTA LA CREATIVIDAD
                          </h5>
                      </div>
                  </div>
              </div>
             </div>
            </div>
          </div>
       
        </div>
      </div>
      <div class="carousel-item">
        <div class="w3-row-padding w3-grayscale d-block w-100" style="margin-top:64px">
          <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
              <div class="w3-container">
                <div class="col p-3">
                  <div class="border-0 card h-100">
                      <img src="../assets/Framedesordendeego.png" class="rounded  mx-auto d-block" alt="...">
                      <div class="card-body">
                          <h5 class="card-title text-center">
                              DESOLIDIFICA EL EGO
                          </h5>
                      </div>
                  </div>
              </div> </div>
            </div>
          </div>
       
        </div>
      </div>
      <div class="carousel-item">
        <div class="w3-row-padding w3-grayscale d-block w-100" style="margin-top:64px">
          <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
              <div class="w3-container">
                <div class="col p-3">
                  <div class="border-0 card h-100">
                      <img src="../assets/Frameempatia.png" class="rounded  mx-auto d-block" alt="...">
                      <div class="card-body">
                          <h5 class="card-title text-center">
                              DESARROLLA LA EMPATÍA
                          </h5>
                      </div>
                  </div>
              </div>   </div>
            </div>
          </div>
       
        </div>
      </div>
      <div class="carousel-item">
        <div class="w3-row-padding w3-grayscale d-block w-100" style="margin-top:64px">
          <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
              <div class="w3-container">
                <div class="col p-3">
                  <div class="border-0 card h-100">
                      <img src="../assets/Frameplactistidad.png" class="rounded  mx-auto d-block" alt="...">
                      <div class="card-body">
                          <h5 class="card-title text-center">
                              AUMENTA LA PLASTICIDAD CEREBRAL
                          </h5>
                      </div>
                  </div>
              </div> 
            </div>
            </div>
          </div>
       
        </div>
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>






  <div class="row row-cols-1 row-cols-md-3 g-4 w3-hide-small">
      <div class="col p-3">
          <div class="border-0 card h-100">
              <img src="../assets/Framemanejodeestres.png" class="rounded  mx-auto d-block" alt="...">
              <div class="card-body">
              <h5 class="card-title text-center">MANEJO DEL ESTRÉS</h5>
              </div>
          </div>
      </div>
      <div class="col p-3">
          <div class="border-0 card h-100">
              <img src="../assets/Frameantidepre.png"
              class="rounded  mx-auto d-block" alt="...">
              <div class="card-body">
                  <h5 class="card-title text-center">
                      ANTIDEPRESIVO Y ANSIOLÍTICO
                  </h5>
              </div>
          </div>
      </div>
      <div class="col p-3">
          <div class="border-0 card h-100">
              <img src="../assets/Framecretividad.png" class="rounded  mx-auto d-block" alt="...">
              <div class="card-body">
                  <h5 class="card-title text-center">
                      AUMENTA LA CREATIVIDAD
                  </h5>
              </div>
          </div>
      </div>
      <div class="col p-3">
          <div class="border-0 card h-100">
              <img src="../assets/Framedesordendeego.png" class="rounded  mx-auto d-block" alt="...">
              <div class="card-body">
                  <h5 class="card-title text-center">
                      DESOLIDIFICA EL EGO
                  </h5>
              </div>
          </div>
      </div>
      <div class="col p-3">
          <div class="border-0 card h-100">
              <img src="../assets/Frameempatia.png" class="rounded  mx-auto d-block" alt="...">
              <div class="card-body">
                  <h5 class="card-title text-center">
                      DESARROLLA LA EMPATÍA
                  </h5>
              </div>
          </div>
      </div>
      <div class="col p-3">
          <div class="border-0 card h-100">
              <img src="../assets/Frameplactistidad.png" class="rounded  mx-auto d-block" alt="...">
              <div class="card-body">
                  <h5 class="card-title text-center">
                      AUMENTA LA PLASTICIDAD CEREBRAL
                  </h5>
              </div>
          </div>
      </div>
  </div>
  <div class="row text-center pt-8">
        <p style="color: black; padding-top: 1%;"><a class="w3-button  suptitulo w3-margin-top" style="border-radius: 4%;background-color: black;background: #EEAA7F;">Quiero saber más</a></p>
  </div>
</div>


<!-- experiencis clinocas-->
<div class="w3-container" style="padding:5% 16px; background-color: #899FC4;" id="about">
  <h3 style="font-size: 45px!important; color: #D6EFA4; " class="text-center">EXPERIENCIA CLINICA</h3>
  
  <div style="padding-left: 28%; padding-right:28%;" >
  <p class="text-center suptitulo"><strong> Hemos tratado a más de 2,000 personas en los últimos 3 años con protocolos personalizados de microdosis, aliviando diferentes afecciones y reconectándolas con una vida más plena.</strong></p>
  </div>
  <div class="text-center" style="margin-top:64px">
    <div style="padding-left: 10%;" >
    <div class="w3-quarter" style="min-width: 30%; padding: 1%;">
      <p class="w3-margin-bottom w3-jumbo"  style="line-height:.86; background-color:#D6EFA4; font-size: 88px!important ">2,000</p>
     <hr style="opacity:1; border-top:1px solid #100f0f;color: black;">
      <p><strong> El número de personas en los últimos 3 años con protocolos personalizados de microdosis (el estudio clínico con mayor número de personas en el mundo)</strong></p>
    </div>
    <div class="w3-quarter"style="padding: 1%;min-width: 30%;">
      <p class="w3-margin-bottom w3-jumbo"  style="line-height:.86; background-color:#D6EFA4; font-size: 87px!important">500</p>
      <hr style="opacity:1; border-top:1px solid #100f0f;color: black;">
      <p><strong>El número de personas que hemos ayudado con éxito a dejar antidepresivos (96% éxito)</strong></p>
    </div>
    <div class="w3-quarter"style="padding: 1%; min-width: 30%;">
      <p class="w3-margin-bottom w3-jumbo"  style="line-height:.86; background-color:#D6EFA4; font-size: 88px!important">80</p>
      <hr style="opacity:1; border-top:1px solid #100f0f;color: black;">
      <p><strong>El número de especies en nuestro vasto banco genético.</strong></p>
    </div>
  </div>
</div>
</div>
<!-- Team Section -->
<div class="w3-container"  id="team">
  <div style="padding-left: 25%; padding-right:25%;padding-top:3%">
  <h3 class="text-center" style="font-size: 45px!important;"><strong> ALGUNOS DE NUECTROS TESTIMONIOS</strong></h3>
  </div>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="w3-row-padding w3-grayscale d-block w-100" style="margin-top:64px">
          <div class="w3-col l3 m6 w3-margin-bottom" >
            <div class="w3-card">
              <div class="w3-container">
                <h3>G.M.</h3>
                <p>21 días post tratamiento</p>
                <p>Logré conectar con mi hipersensibilidad a un nivel muy especial. Tan especial que conocí a mi pareja del momento con ello.</p>
              </div>
            </div>
          </div>
          <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
              <div class="w3-container">
                <h3>G.M.</h3>
                <p>90 días post tratamiento</p>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
              </div>
            </div>
          </div>
          <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
              <div class="w3-container">
                <h3>C.S.</h3>
                <p>Siento que el tratamiento ha optimizado muchos aspectos de mi vida: mi hambre, energía, sueño y concentración se regularon y balancearon.</p>
              </div>
            </div>
          </div>
          <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
              <div class="w3-container">
                <h3>L.E.</h3>
                <p>POST TRATAMIENTO</p>
                <p>Quiero darles las gracias, no pueden imaginar lo bien que me siento. Tengo ganas de bailar y cantar todo el día. La ansiedad se ha ido. Perdí gemelos hace 6 años y desde entonces había estado viviendo en modo de supervivencia.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="w3-row-padding w3-grayscale d-block w-100" style="margin-top:64px">
          <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
              <div class="w3-container">
                <h3>G.M.</h3>
                <p>21 días post tratamiento</p>
                <p>Logré conectar con mi hipersensibilidad a un nivel muy especial. Tan especial que conocí a mi pareja del momento con ello.</p>
              </div>
            </div>
          </div>
          <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
              <div class="w3-container">
                <h3>G.M.</h3>
                <p>90 días post tratamiento</p>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
              </div>
            </div>
          </div>
          <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
              <div class="w3-container">
                <h3>C.S.</h3>
                <p>Siento que el tratamiento ha optimizado muchos aspectos de mi vida: mi hambre, energía, sueño y concentración se regularon y balancearon.</p>
              </div>
            </div>
          </div>
          <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
              <div class="w3-container">
                <h3>L.E.</h3>
                <p>POST TRATAMIENTO</p>
                <p>Quiero darles las gracias, no pueden imaginar lo bien que me siento. Tengo ganas de bailar y cantar todo el día. La ansiedad se ha ido. Perdí gemelos hace 6 años y desde entonces había estado viviendo en modo de supervivencia.</p>
              </div>
            </div>
          </div>
        </div> </div>
      <div class="carousel-item">
        <div class="w3-row-padding w3-grayscale d-block w-100" style="margin-top:64px">
          <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
              <div class="w3-container">
                <h3>G.M.</h3>
                <p>21 días post tratamiento</p>
                <p>Logré conectar con mi hipersensibilidad a un nivel muy especial. Tan especial que conocí a mi pareja del momento con ello.</p>
              </div>
            </div>
          </div>
          <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
              <div class="w3-container">
                <h3>G.M.</h3>
                <p>90 días post tratamiento</p>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
              </div>
            </div>
          </div>
          <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
              <div class="w3-container">
                <h3>C.S.</h3>
                <p>Siento que el tratamiento ha optimizado muchos aspectos de mi vida: mi hambre, energía, sueño y concentración se regularon y balancearon.</p>
              </div>
            </div>
          </div>
          <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
              <div class="w3-container">
                <h3>L.E.</h3>
                <p>POST TRATAMIENTO</p>
                <p>Quiero darles las gracias, no pueden imaginar lo bien que me siento. Tengo ganas de bailar y cantar todo el día. La ansiedad se ha ido. Perdí gemelos hace 6 años y desde entonces había estado viviendo en modo de supervivencia.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
 
</div>

<!-- Promo Section "Statistics" -->
<div class="w3-container  text-center  w3-padding-64" style="background: #CEC5B4;">
  <div class="row w3-hide-small">
   
    <div class="col-6"><img src="../assets/5f48506ea0a89c988530b6976f559e7e.jfif" style=" border-radius: 2%;max-width: 90%;  "></div>
    <div class="col-6" style="padding-left:5%;padding-right: 5%;">
      <h1 style="font-size: 58px;">Nuestras Fórmulas.</h1>
      <p class="justify"><strong> Nuestras fórmulas se desarrollan a partir de nuestro banco genético, que cuenta con una variedad de 71 especies diferentes de hongos del género Psilocybe. </strong></p>
      <p class="justify"><strong> El hongo es una inteligencia que se adapta a tu sistema y sanará lo que tu sistema nervioso y tu cuerpo psico-emocional necesiten sanar. Cada persona establece una relación personal con el hongo y tiene una respuesta y sensibilidad distinta.
      </strong></p>
      <p class="justify"><strong>  Es muy probable que durante un tratamiento de 90 días desees probar diferentes fórmulas que se complementen entre sí y ofrezcan diferentes matices a tu proceso.
      </strong></p>
      <p class="justify"><strong>Las descripciones de las fórmulas no deben limitar la experiencia generando expectativas específicas, sino que intentan mostrar cómo los distintos tipos de hongos tienen diferentes tendencias, diferentes formas de sanar, y cómo enfatizan algunos aspectos de nuestra experiencia en el proceso.
      </strong></p>
      <p style="color: black;"><a class="w3-button  suptitulo w3-margin-top" style="background-color: black;background: #D6EFA4;">Aprender más</a></p>
    </div>
  </div>
  <div class="row w3-hide-medium  w3-hide-large">
   
    <div class="col-12"><img src="../assets/5f48506ea0a89c988530b6976f559e7e.jfif" style=" border-radius: 2%;max-width: 90%;  "></div>
    <div class="col-12" style="padding-top: 1%;">
      <h1 class="justify"><strong> Nuestras Fórmulas.</strong></h1>
    <p class="justify"><strong> Nuestras fórmulas se desarrollan a partir de nuestro banco genético, que cuenta con una variedad de 71 especies diferentes de hongos del género Psilocybe. </strong></p>
      <p class="justify"><strong> El hongo es una inteligencia que se adapta a tu sistema y sanará lo que tu sistema nervioso y tu cuerpo psico-emocional necesiten sanar. Cada persona establece una relación personal con el hongo y tiene una respuesta y sensibilidad distinta.
      </strong></p>
      <p class="justify"><strong>  Es muy probable que durante un tratamiento de 90 días desees probar diferentes fórmulas que se complementen entre sí y ofrezcan diferentes matices a tu proceso.
      </strong></p>
      <p class="justify"><strong>Las descripciones de las fórmulas no deben limitar la experiencia generando expectativas específicas, sino que intentan mostrar cómo los distintos tipos de hongos tienen diferentes tendencias, diferentes formas de sanar, y cómo enfatizan algunos aspectos de nuestra experiencia en el proceso.
      </strong></p>
      <p style="color: black;"><a class="w3-button  suptitulo w3-margin-top" style="background-color: black;background: #D6EFA4;">Aprender más</a></p>
   
  </div>

  </div>
</div>

<!-- Work Section -->

<div class="container" >
  <div class="row pt-5">
      <div class="col-md-6">
          <h1 width="20rem" style="font-size: 55px!important;">
           <strong>PROTOCOLOS</strong>  
          </h1>
      </div>
      <div class="col-md-4 ms-auto">
          <p>
            Hemos desarrollado una serie de protocolos que hemos podido implementar y perfeccionar gracias a más de 2 mil personas que han confiado en nosotros.
          </p>
      </div>
  </div>
  <hr class="border border-dark border-2" />


  <div id="carouselExampleControls2" class="carousel slide w3-hide-large w3-hide-medium" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="w3-row-padding w3-grayscale d-block w-100" style="margin-top:64px">
          <div class="w3-col l3 m6 w3-margin-bottom" >
            <div class="w3-card">
              <div class="w3-container">
                <div class="col p-3">
                  <div class="border-0 card h-100">
                      <img src="../assets/Framemano.png" class="rounded  mx-auto d-block" alt="...">
                      <div class="card-body">
                      <h5 class="card-title text-center">PARKINSON</h5>
                      </div>
                  </div>
              </div>
             </div>
            </div>
          </div>
         
        </div>
      </div>
      <div class="carousel-item">
        <div class="w3-row-padding w3-grayscale d-block w-100" style="margin-top:64px">
          <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
              <div class="w3-container">
                <div class="col p-3">
                  <div class="border-0 card h-100">
                      <img src="../assets/Group 43cabeafraz.png"
                      class="rounded  mx-auto d-block" alt="...">
                      <div class="card-body">
                          <h5 class="card-title text-center">
                            ADD, ADHD, ATENCION Y CONCENTRACION
                          </h5>
                      </div>
                  </div>
              </div>
            </div>
            </div>
          </div>
         
        </div> </div>
      <div class="carousel-item">
        <div class="w3-row-padding w3-grayscale d-block w-100" style="margin-top:64px">
          <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
              <div class="w3-container">
                <div class="col p-3">
                  <div class="border-0 card h-100">
                      <img src="../assets/Group 42cabezahongo.png" class="rounded  mx-auto d-block" alt="...">
                      <div class="card-body">
                          <h5 class="card-title text-center">
                            AUTOCONOCIMIENTO Y CRECIMIENTO PERSONAL. 
                          </h5>
                      </div>
                  </div>
              </div>
             </div>
            </div>
          </div>
       
        </div>
      </div>
      <div class="carousel-item">
        <div class="w3-row-padding w3-grayscale d-block w-100" style="margin-top:64px">
          <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
              <div class="w3-container">
                <div class="col p-3">
                  <div class="border-0 card h-100">
                      <img src="../assets/Vectorlechuga.png" class="rounded  mx-auto d-block" alt="...">
                      <div class="card-body">
                          <h5 class="card-title text-center">
                            RECONEXIÓN CON EL GOZO DE VIVIR
                          </h5>
                      </div>
                  </div>
              </div> </div>
            </div>
          </div>
       
        </div>
      </div>
      <div class="carousel-item">
        <div class="w3-row-padding w3-grayscale d-block w-100" style="margin-top:64px">
          <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
              <div class="w3-container">
                <div class="col p-3">
                  <div class="border-0 card h-100">
                      <img src="../assets/Group 41cabeza.png" class="rounded  mx-auto d-block" alt="...">
                      <div class="card-body">
                          <h5 class="card-title text-center">
                            ADICCIONES
                          </h5>
                      </div>
                  </div>
              </div>   </div>
            </div>
          </div>
       
        </div>
      </div>
      <div class="carousel-item">
        <div class="w3-row-padding w3-grayscale d-block w-100" style="margin-top:64px">
          <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
              <div class="w3-container">
                <div class="col p-3">
                  <div class="border-0 card h-100">
                      <img src="../assets/Framefrasco.png" class="rounded  mx-auto d-block" alt="...">
                      <div class="card-body">
                          <h5 class="card-title text-center">
                            DEPRESIÓN Y ANSIEDAD CON ANTIDEPRESIVOS
                          </h5>
                      </div>
                  </div>
              </div> 
            </div>
            </div>
          </div>
       
        </div>
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>






  <div class="row row-cols-1 row-cols-md-3 g-4 w3-hide-small">
      <div class="col p-3">
          <div class="border-0 card h-100">
              <img src="../assets/Framemano.png" class="rounded  mx-auto d-block" alt="...">
              <div class="card-body">
              <h5 class="card-title text-center">PARKINSON</h5>
              </div>
          </div>
      </div>
      <div class="col p-3">
          <div class="border-0 card h-100">
              <img src="../assets/Group 43cabeafraz.png"
              class="rounded  mx-auto d-block" alt="...">
              <div class="card-body">
                  <h5 class="card-title text-center">
                    ADD, ADHD, ATENCION Y CONCENTRACION
                  </h5>
              </div>
          </div>
      </div>
      <div class="col p-3">
          <div class="border-0 card h-100">
              <img src="../assets/Group 42cabezahongo.png" class="rounded  mx-auto d-block" alt="...">
              <div class="card-body">
                  <h5 class="card-title text-center">
                    AUTOCONOCIMIENTO Y CRECIMIENTO PERSONAL. 
                  </h5>
              </div>
          </div>
      </div>
      <div class="col p-3">
          <div class="border-0 card h-100">
              <img src="../assets/Vectorlechuga.png" class="rounded  mx-auto d-block" alt="...">
              <div class="card-body">
                  <h5 class="card-title text-center">
                    RECONEXIÓN CON EL GOZO DE VIVIR
                  </h5>
              </div>
          </div>
      </div>
      <div class="col p-3">
          <div class="border-0 card h-100">
              <img src="../assets/Group 41cabeza.png" class="rounded  mx-auto d-block" alt="...">
              <div class="card-body">
                  <h5 class="card-title text-center">
                    ADICCIONES
                  </h5>
              </div>
          </div>
      </div>
      <div class="col p-3">
          <div class="border-0 card h-100">
              <img src="../assets/Framefrasco.png" class="rounded  mx-auto d-block" alt="...">
              <div class="card-body">
                  <h5 class="card-title text-center">
                    DEPRESIÓN Y ANSIEDAD CON ANTIDEPRESIVOS
                  </h5>
              </div>
          </div>
      </div>
  </div>
  <div class="row text-center pt-8">
        <p style="color: black; padding-top: 1%;"><a class="w3-button  suptitulo w3-margin-top" style="border-radius: 4%;background-color: black;background: #EEAA7F;">Quiero saber más</a></p>
  </div>
</div>




<!-- Comienza tu trtamiento -->
<div class="w3-container text-center fonman" style="padding:128px 16px; " id="pricing">
  <h1 class="w3-text-white"  style="font-size: 58px;">Comienza tu trtamiento</h1>
  <p style="color: black; padding-top: 1%;"><a class="w3-button  suptitulo w3-margin-top" style="background-color: black;background: #D6EFA4;">Inicia tu protocolo</a></p>
</div>

<!-- Contact Section -->
<div class="w3-container " style="padding:58px 16px; background: #E79066;" id="contact">
  <div class="row w3-hide-small">
   
    <div class="col-4"><img src="../assets/Framelogobla.png" style=" padding-left: 5%;max-width: 90%;  "></div>
      <div class="col-8 row w3-text-white" style="padding-left:5%;padding-right: 5%;">

        <div class="col-4">
          <h4> <strong> Acerca de</strong></h4>
          <h6 style="padding-top: 7%;">Mi perfil</h6>
          <h6 style="padding-top: 7%;">Acerca de</h6>
          <h6 style="padding-top: 7%;">Blog</h6>
          <h6 style="padding-top: 7%;">Nuestras Investigaciones</h6>
        </div>
        
        <div class="col-4">
          <h4> <strong>La Microdosis</strong></h4>
          <h6 style="padding-top: 7%;">Beneficios</h6>
          <h6 style="padding-top: 7%;">Fórmulas</h6>
          <h6 style="padding-top: 7%;">Espectro de Luz</h6>
          <h6 style="padding-top: 7%;">Protocolo</h6>
      </div>
        
        <div class="col-4">
          <h4> <strong>El Tratamiento</strong></h4>
          <h6 style="padding-top: 7%;">Tratamiento</h6>
          <h6 style="padding-top: 7%;">Coaches</h6>
          <h6 style="padding-top: 7%;">terapia</h6>
          <h6 style="padding-top: 7%;">Preguntas frecuentes</h6>
      </div>
      </div>
      <div class="text-center" ><img src="../assets/Vectorbortice.png" style="padding: 2%;">
      <p class="w3-text-white">Copyright © Bhavani. Todos los derechos reservados.</p></div>
    </div>
    <div class="row w3-container w3-hide-medium  w3-hide-large w3-text-white">
  
     
      <nav class="navigation ">
        <ul class="mainmenu ">
          <li><a> <strong>Acerca de</strong></a>
            <ul class="submenu">
              <li><a >Mi perfil</a></li>
              <li><a >Acerca de</a></li>
              <li><a >Blog</a></li>
              <li><a >Nuestras Investigaciones</a></li>
            </ul>
          </li>
          <li><a> <strong>La Microdosis</strong></a>
            <ul class="submenu">
              <li><a >Beneficios</a></li>
              <li><a >Fórmulas</a></li>
              <li><a >Espectro de Luz</a></li>
              <li><a >Protocolo</a></li>
            </ul>
          </li>
          <li><a> <strong>El Tratamiento</strong></a>
            <ul class="submenu">
              <li><a >Tratamiento</a></li>
              <li><a >Coaches</a></li>
              <li><a >terapia</a></li>
              <li><a >Preguntas frecuentes</a></li>
            </ul>
          </li>
        </ul>
      </nav>


    </div>
</div>
</body>
</html>
